<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 로그인 회원가입 로그아웃 아이디 표시 부분 -->
      <div align="right">
        <%
          if(is_logined) {          
        %>
          <span><%= login_id %> 님 반갑습니다.</span>
          <input type="button" value="로그아웃" onclick="window.location.href='http://localhost:3000/session/logout'">
        <%
          } else {
        %>
          <input type="button" value="로그인" onclick="window.location.href='http://localhost:3000/session/login'">
          <input type="button" value="회원가입" onclick="window.location.href='http://localhost:3000/join'">
        <%
          }
        %>
      </div>
    <!-- end of 로그인 회원가입 로그아웃 아이디 표시 부분 -->

      <div>
        <input type="button" value="전체" onclick="window.location.href='http://localhost:3000/'">
        <input type="button" value="일반" onclick="window.location.href='http://localhost:3000/show_normal'">
        <input type="button" value="회원" onclick="window.location.href='http://localhost:3000/show_member'">
      </div>
      <table border='1'>
        <tr>
            <td>글번호</td>
            <td>제목</td>
            <td>이름</td>
            <td>조회수</td>
            <td>추천수</td>
            <td>카테고리</td>
            
        </tr>
          
          <%
            for(var i = 0; i < rows.length; i++) {
          %>
          
          <tr>
              <td><%= rows[i]._idx %></td>
              <%
                if(rows[i].noti == 1) {
              %>
              <td><a href="/read/<%= rows[i]._idx %>"><b>[공지] </b><%= rows[i].title %></a></td>
              <%
                } else {
              %>
              <td><a href="/read/<%= rows[i]._idx %>"><%= rows[i].title %></a></td>
              <%
                }
              %>
              <td><%= rows[i].name %></td>
              <td><%= rows[i].hit_count %></td>
              <td><%= rows[i].best_count %></td>
              <td><%= rows[i].category %></td>
   
          </tr>
          
          <%
          }
          %>
      </table>
<!-- 페이지 네이션 시작 -->
      <div>

        <%
          var times = 0;
          if(total_write%3 == 0) {
            times = (total_write/3);
          } else {
            times = (total_write/3) + 1;
          }

          for(var i = 1; i <= times; i++) {
            if(type == "total") {
        %>
            <span><a href="/page/<%= i %>"><%= i %></a></span>
        <%
            } else if(type == "normal") {
        %>
            <span><a href="/show_normal/<%= i %>"><%= i %></a></span>
        <%
            } else if(type == "member") {
        %>
            <span><a href="/show_member/<%= i %>"><%= i %></a></span>
        <%
            } else if(type == "title") {
        %>
            <span><a href="/search/title/<%= search_keyword %>/<%= i %>"><%= i %></a></span>
        <%
            } else if(type == "writer") {
        %>
            <span><a href="/search/writer/<%= search_keyword %>/<%= i %>"><%= i %></a></span>
        <%
            } else if(type == "number") {
        %>
            <span><a href="/search/number/<%= search_keyword %>/<%= i %>"><%= i %></a></span>
        <%  
            } else {}
        }
        %>
      </div>
<!-- end of 페이지 네이션 -->
      <form method="post" action="/search">
        <select name="searchTypeInput" id="searchTypeInput">
          <option value="title" selected="selected">글제목</option>
          <option value="writer">글쓴이</option>
          <option value="number">글번호</option>
        </select>

        <input type="text" name="keywordInput" id="keywordInput" placeholder="검색 내용을 입력하세요.">

        <input type="submit" value="검색하기">
      </form>

      <br/>
      <input type="button" value="글쓰기" onclick="window.location.href='http://localhost:3000/write'">

      

  </body>
</html>
