<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--익스플로어 최신버전으로 랜더링-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--기종에 따른 넓이고정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <title>청남대</title>

    <!--  안드로이드(Android) -->
    <link rel="shortcut icon" href="/images/icon32x32.png" />
    <!-- iPhone icon(Retina) -->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon114x114.png" />

    <!--css normalize CDN-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
 
    <!--  style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css?ver=1">

    <!--jquery library CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/sidebar.min.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

    <!-- swiper plugin CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/reply_style.css">
</head>

<body id="body">
    <div class="page3 wrap pusher">
       <div class="container">
           <header class="header">
            <h1>주변관광정보</h1>
            <button type="button" class="icon back">
                <span>뒤로가기</span>
            </button>
            <button type="button" class="icon menu">
                <span>메뉴</span>
            </button>
           </header>
           <main class="contents">
             <div class="list">
                <%
                  for(var i = 0; i < data.length; i++) {
                %>
                  <div class="item">
                    <button type="button" class="icon calendar" onclick="location.href='app://place1'"><span>내 일정</span></button>
                    <button type="button" class="icon close"><span>닫기</span></button>
                    <a href="#" class="link">
                       <div class="tit"><%= data[i].name %></div>
                       <div class="img"><img src="<%= data[i].img_url %>" alt=""></div>
                       <div class="phone">전화 : <%= data[i].phone_number %> </div>

                    </a>
                      <div class="cont">
                      <%- data[i].descript %>

                      <div class="reply-container">
                        <form>
                          <div class="reply-writer">
                            <input  type="text" id="writer" name="writer" placeholder="writer">
                          </div>
                          <div class="reply-password">
                            <input type="text" id="password" name="password" placeholder="password">
                          </div>   
                          <div>
                            <textarea class="reply-textarea"
                            rows="3" placeholder="Enter your comment here..."></textarea>
                          </div>
                          <div class="reply-button-container">
                            <p>250</p>
                            <input type="submit" value="Comment">
                          </div>
                        </form>
                     
                        <ul class="reply-posts">

                          <%
                            var comment = data[i].comment;
                            for(var j = 0; j < comment.length; j++) {
                          %>
                            <li><%= comment[j].contents %></li>
                          <%
                            }
                          %>
                          
                        </ul>
                      </div>
                    </div>
                 </div>
                   <!-- //item -->
                <%
                  }
                %>
               
              
             </div>   
           </main>
       </div>
    </div>
  
    <script>
      $(".list .item a.link").on("click",function(){
        $(this).parents(".item").addClass("detail");
      })
      $(".list .item .close").on("click",function(){
        $(".list .detail").removeClass("detail");
      })
    </script>
</body>

</html>
